<div class="container" align="center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-primary" id="dashboard">
        <div class="panel panel-heading"> Administration Dashboard </div>
        <div class="panel panel-body">
          <p><%= link_to "Update User Status", admin_users_path %></p>
          <p><%= link_to "Art Piece Information", admin_art_pieces_path %></p>
          <p><%= link_to "Artist Information", admin_artists_path %></p>
          <p><%= link_to "Building Information", admin_buildings_path %></p>
          <p><%= link_to "Collection Information", admin_collections_path %></p>
          <p><%= link_to "Series Information", admin_series_index_path %></p>
          <p><%= link_to "Medium Information", admin_media_path %></p>
          <p><%= link_to "Settings", admin_settings_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
