<% @artists.each do |artist| %>
  <div class="panel panel-default" id="artist-<%= artist.id %>">
    <div class="panel panel-heading">
      <a data-toggle="collapse" style="color:black;" data-parent="#accordion" href="#collapse-<%= artist.id %>">
        <p><%= artist.name %>
        <%= link_to "Edit", edit_admin_artist_path(artist), :class => "pull-right", :style => "padding-left: 10px;" %>
        <%= link_to "Delete", admin_artist_path(artist), :class => "pull-right", :method => :delete, :data => {:confirm => "Are you sure?"} %></p>
      </a>
    </div>
    <div class="panel-collapse collapse" id="collapse-<%= artist.id %>">
      <div class="panel panel-body">
        <p>Bio: <%= artist.bio %></p>
        <p>Website: <%= artist.website %></p>
        <p>Birth Date:<%= artist.birthdate %></p>
        <p>Date Deceased: <%= artist.deathdate %></p>
        <p>Previous/Current Student: <%= artist.student? %></p>
        <p>Previous/Current Faculty: <%= artist.faculty? %></p>
      </div>
    </div>
  </div>
<% end %>
