<% @art_pieces.each do |art| %>
  <div class="panel <%= art.panel_class %>" id="piece-<%= art.id %>">
    <div class="panel panel-heading">
      <a data-toggle="collapse" style="color:black;" data-parent="#accordion" href="#collapse-<%= art.id %>">
        <%= art.title %>
        <%= link_to "Edit", edit_admin_art_piece_path(art), :class => "pull-right", :style => "padding-left: 10px;" %>
        <%= link_to "Delete", admin_art_piece_path(art), :class => "pull-right", :method => :delete, :data => {:confirm => "Are you sure?"} %>
      </a>
    </div>
    <div class="panel-collapse collapse" id="collapse-<%= art.id %>">
      <div class="panel panel-body">
        <p>Artists: <%= art.art_piece_artists.map(&:artist).map(&:name).join(", ") %></p>
        <p>Artist Comments: <%= art.artist_comments %></p>
        <p>Description: <%= art.description %></p>
        <p>Medium: <%= art.art_medium %> </p>
        <p>Size: <%= art.size %></p>
        <p>Created On: <%= art.creation_date %></p>
        <p>Legal Info: <%= art.legal_info %></p>
        <p>Private Piece Status: <%= art.private? %></p>
        <% if art.private? %>
          <p>Contact Info: <%= art.contact_info %></p>
        <% end %>
        <p>On Display Status: <%= I18n.t('art_piece.on_display_string') if art.displayed? %><%= I18n.t('art_piece.not_on_display_string') unless art.displayed? %></p>
        <% if art.art_piece_building %>
          <p>Location Information:<br>
            <ul>
              <li>Building: <%= art.building_name %><br></li>
              <li>Location In Building: <%= art.art_piece_building.location %><br></li>
              <li>Position In Building: <%= art.art_piece_building.position_num %></li>
            </ul>
          </p>
        <% end %>
        <% if art.art_piece_photos.length > 0 %>
          <p>Photos: <% art.art_piece_photos.each do |p| %>
            <%= image_tag p.photo_url(:thumb) %>
          <% end %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
