<% @art_pieces.each do |art| %>
  <div class="panel panel-default" id="piece-<%= art.id %>">
    <div class="panel panel-heading">
      <a data-toggle="collapse" style="color:black;" data-parent="#accordion" href="#collapse-<%= art.id %>">
        <%= art.title %>
        <%= link_to "Edit", edit_admin_art_piece_path(art), :class => "pull-right", :style => "padding-left: 10px;" %>
        <%= link_to "Delete", admin_art_piece_path(art), :class => "pull-right", :method => :delete, :data => {:confirm => "Are you sure?"} %>
      </a>
    </div>
    <div class="panel-collapse collapse" id="collapse-<%= art.id %>">
      <div class="panel panel-body">
        <p>Medium: <%= art.medium %></p>
        <p>Created On: <%= art.creation_date %></p>
        <p>Size: <%= art.size %></p>
        <p>Legal Info: <%= art.legal_info %></p>
        <p>Is this a private piece? <%= art.private? %></p>
        <p>Contact Info: <%= art.contact_info %></p>
        <p>Description: <%= art.description %></p>
        <p>Is this Art On Display? <%= art.displayed? %></p>
        <p>Which Building is it in? <%= art.building_name %> </p>
        <p>Art Piece: <% art.art_piece_photos.each do |p|%>
          <%= image_tag p.photo %>
        <% end %></p>
      </div>
    </div>
  </div>
<% end %>
