<h1>Contact Us</h1>

<%= current_user.email if current_user %>
<br>
<%= simple_form_for "Contact", :url => contact_path do |f| %>
  <%= f.input :email, input_html: { :value => @email } unless current_user%>
  <%= f.input :message, :as => :text, :input_html => {:value => @message, :class => "tinymce", :rows => 15, :cols => 120} %>
  <%= tinymce %>
  <%= f.button :submit, "Submit" %>
<% end %>
