<% # the way each document will be viewed in the sidebar list -%>
<li class='media'>
<div class="panel panel-<%= document[:displayed_bs] ? 'default' : 'danger' %>">
    <div class="panel-heading" id="art-piece-panel">
      <div class="panel-title">
        <h4 class='media-heading'>
          <%= link_to_map_document document, {:label => document_show_link_field(document), :counter => map_counter(document), :search_context => map_building(document)} %>
        </h4>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3">
          <%= render_thumbnail_img document, {:class => "sidebar-thumb media-object pull-left"}, {:label => document_show_link_field(document), :counter => map_counter(document), :search_context => map_building(document)} if document[:art_piece_photos_sms] %>
        </div>
        <div class="col-xs-8">
          <% if document[:artists_sms] %>
            By <%= document[:artists_sms].join(", ") %>
            <br>
            <br>
          <% end %>
          <% if document[:number_ss].present? %>
            Plaque Number: <%= document[:number_ss] %>
            <br>
          <% end %>
          <% if document[:art_piece_building_location_ss].present? %>
            Location: <%= document[:art_piece_building_location_ss] %>
          <% end %>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
  </div>
</li>
