<div class="container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#carousel-pane" role="tab" data-toggle="tab">Carousel</a></li>
      <li><a href="#map-pane" role="tab" data-toggle="tab">Map</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="carousel-pane">
        <div class="col-xs-12" >
          <%= render :partial => "carousel", :locals => {document: document} %>
        </div>
      </div>
      <div class="tab-pane" id="map-pane">
        <div class="col-xs-6">
          <div class="map">
            <%= render "map" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% if document['artists_sms'] != nil %> 
    <% document['artists_sms'].each_with_index do |artist, i| %>
      <dt> Artist: <dd> <%= artist %> </dd> </dt>
      <% if document['artist_bio_sms'][i].present? %>
        <dt> Artist Bio: <dd> <%= document['artist_bio_sms'][i] %> </dd> </dt>
      <% end %>
    <% end %>
  <% end %>
</dl>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field?(document, field) %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>

