<div class="container">
  <div class="row">
    <div class="col-xs-4" >
      <div class="row">
        <div id="my-carousel" class="carousel slide"><!-- class of slide for animation -->
          <div class="carousel-inner">
              <% Array.wrap(document["art_piece_photos_sms"]).each_with_index do |photo, index| %>
                  <div class="item <%= "active" if index == 0 %>">
                    <a href="<%= photo %>" id="photo-<%= index %>" data-toggle="lightbox" data-gallery="multiimages" data-parent=".carousel-inner">
                      <%= image_tag photo %>
                    </a>
                  </div>
              <% end %>
          </div>
          <a class="carousel-control left" href="#my-carousel" data-slide="prev" role="button" ><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="carousel-control right" href="#my-carousel" data-slide="next" role="button"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>

